# Adidas US Sales Datasets

A dataset pertaining to Adidas sales comprises a compilation of information concerning the sales activities of Adidas products. Such datasets typically encompass details like the quantity of products sold, the total revenue generated from sales, the geographical distribution of sales, the specific product types sold, and other pertinent particulars.

The utilization of Adidas sales data can serve diverse objectives, including the analysis of sales patterns, the identification of successful products or marketing endeavors, and the formulation of strategies for future sales endeavors. Additionally, it can facilitate comparisons between Adidas sales and those of competitors, as well as evaluations of the efficacy of various marketing or sales channels.

Numerous potential sources exist from which an Adidas sales dataset could be obtained, including Adidas itself, market research companies, governmental bodies, or other entities involved in the tracking of sales data. The specific data elements encompassed within an Adidas sales dataset might vary based on the originating source and the intended utilization of the data.

<a id="cont"></a>

## Table of Contents

- [1. Import Packages](#one)
- [2. Load Data](#two)

<a id="one"></a>
# 1. Import Packages
[Back to Table of Contents](#cont)

---

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

<a id="two"></a>
# 2. Load Data
[Back to Table of Contents](#cont)

---

Convert Excel sheet into a CSV file

In [12]:
excel_file = 'Adidas US Sales Datasets.xlsx' 

column_names = ["Retailer", "Retailer ID","Invoice Date","Region", "State","City", "Product", "Price per Unit",	"Units Sold", "Total Sales", "Operating Profit","Operating Margin","Sales Method"]
df = pd.read_excel(excel_file, header=None, names=column_names)

df = df.dropna(how='all')

csv_file = 'adidas_us_sales.csv'  
df.to_csv(csv_file, index=False)

In [13]:
adidas_sales_df = pd.read_csv("adidas_us_sales.csv")

In [14]:
adidas_sales_df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,NaN,Adidas Sales Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
2,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store
3,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000,0.3,In-store
4,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000,0.35,In-store

In [15]:
adidas_sales_df.tail()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
9645,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Men's Apparel,50,64,3200,896.0000000000001,0.28,Outlet
9646,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Women's Apparel,41,105,4305,1377.6000000000001,0.32,Outlet
9647,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Street Footwear,41,184,7544,2791.28,0.37000000000000005,Outlet
9648,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42,70,2940,1234.8000000000002,0.42000000000000004,Outlet
9649,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Women's Street Footwear,29,83,2407,649.89,0.27,Outlet